@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Funnel Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Funnel Display", serif;
}

.ghost-text {
  color: rgba(255, 255, 255, 0.1);
  user-select: none;
  pointer-events: none;
  font-size: clamp(2rem, 4vw, 4.5rem);
}

.split-text {
  position: relative;
  color: var(--foreground);
  font-size: clamp(2rem, 4vw, 4.5rem);
}

@media (max-width: 768px) {
  .ghost-text {
    line-height: 1.125;
  }

  .split-text {
    line-height: 1.125;
  }
}

.char {
  display: inline-block;
  transition: color 0.1s ease;
}

.h-[400vh] {
  height: 400vh;
}

.line {
  position: relative;
}

.overflow-hidden {
  position: relative;
}

.top-50vh {
  top: 50vh;
}

.keyword-highlight {
  transition: all 0.3s ease;
  color: #adff2f;
  text-shadow: 0 0 10px rgba(173, 255, 47, 0.5);
}

.keyword-highlight:hover {
  color: #adff2f;
  text-shadow: 0 0 10px #adff2f, 0 0 20px #adff2f, 0 0 30px #adff2f;
}

@keyframes blink {
  0%,
  100% {
    box-shadow: 0 0 10px #adff2f, 0 0 10px #adff2f, 0 0 30px #adff2f;
    opacity: 100%;
  }
  50% {
    box-shadow: 0 0 5px #adff2f, 0 0 0px #adff2f, 0 0 0px #adff2f;
    opacity: 75%;
  }
}

.solid-blink {
  animation: blink 1.5s ease-in-out infinite;
}

@media (min-width: 1024px) {
  /* lg 尺寸以上時，預設暫停動畫 */
  .group img {
    --animation-play-state: paused;
  }

  /* hover 時播放動畫 */
  .group:hover img {
    --animation-play-state: running;
  }
}

@media (max-width: 1023px) {
  /* lg 尺寸以下時，一直播放動畫 */
  .group img {
    --animation-play-state: running;
  }
}
